@charset "UTF-8";

/*--Reset--*/
html, body, div, figure, span, h1, h2, h3 ,h4, h5, p, a, em, img , nav, li, ul {
	margin:0;
	padding:0;
	border:0;
	line-height:normal;
    text-decoration:none;
	list-style:none;
	}

* {
	box-sizing:border-box;
	}



body{
	font-family: 'Open Sans', Arial, sans-serif;
	font-weight: 100;
	color:#252525;
	font-size:13px;
	background-color: #fff;
		}
	
/*---navigation---*/
header {
	height: 70px;
	width: 100%;
	position: fixed;
	top:0px;
	background-color: rgba(230,230,230,0.95);
	z-index: 5;
}
header h2 {
	margin-top:7px;
	float: left;
}

nav {
	margin-top: 26px;
}
nav a {
	color: #252525;
	border: 1px solid rgba(0,0,0,0.2);
	padding:9px 13px;
	background: transparent ;
	
}
nav #search-black {
	padding-right: 114px;
	background-image: url(http://i67.fastpic.ru/big/2014/0821/c6/20bc50dba954139dd65707463ec60bc6.png);
	background-repeat: no-repeat;
	background-position: 134px center;
	}
	
.alb {
width: 100%;
}


.alb h2 {
	margin-top:124px ;
	margin-bottom: 20px;
	color:#252525;
	background-color: #fff;
  }
.alb h2 a {
	color:#333;
	background-color: #fff;
}

/*---большой альбом---*/

.alb1 {
	height: 486px;
	margin-bottom: 1px;
	padding-left: 1px;
	overflow: hidden;
}
.alb1 span{
	color: #FFF;
	font-size: 35px;
	font-weight: 300;
	position:absolute;
	bottom: 35px;
	left:35px;
	padding-right:35px;
	z-index: 3;
	background-color: rgba(0,0,0,0);
	}
	
.alb1 .grad {
    z-index: 2;
	position:absolute;
	display:block;
    background: linear-gradient(rgba(0,0,0,0.02) ,rgba(0,0,0,0.3));
    background: -webkit-linear-gradient(rgba(0,0,0,0.02) ,rgba(0,0,0,0.3));
	}
	
.alb1 img {
	width: 100%;
	min-width: 735px;
	}	
  
/*---малый альбом---*/
	
.alb2 {
	height: 243px;
	margin-bottom: 1px;
	padding-left: 1px;
	overflow: hidden;
}
.alb2 span {
	position:absolute;
	color:#FFF;
	font-size: 18px;
	bottom: 20px;
	left: 20px;
	padding-right:35px;
	z-index: 3;
	background-color: rgba(0,0,0,0);
	}
	
.alb2 .expand {
	left:33%;
	bottom:45%;
	font-size:35px;
	color: #fff;
	background-color: rgba(0,0,0,0);
	background-color: rgba(0,114,188,1);
	}
	
.alb2 .grad {
    z-index: 2;
	position:absolute;
	display:block;
    background: linear-gradient(rgba(0,0,0,0) ,rgba(0,0,0,0.9));
    background: -webkit-linear-gradient(rgba(0,0,0,0) ,rgba(0,0,0,0.6) 50%);
	}
	
.alb2 img {
	width: 100%;
	min-width: 400px;
	}
	


.center {
	margin-left: 10%;
	margin-right: 10%;
}
.country {
width: 100%;
height:570px;
overflow:hidden;
}
.country-back {
z-index: 1;
}
.country-back img {
min-height: 570px;
overflow: hidden;
margin-top: -532px;

}
.country h2{
	margin-top: 22px;
}
.country-list-rus li {
	margin-top: 29px;
}
.country .rus a{
font-family:inherit;
font-size:20px;
font-weight: 300;
color:#0072bc;
letter-spacing: -0.01em;	
background-color: rgba(0,0,0,0);
}
.country-list-rus li a{
line-height: 1.3;
padding-top: 29px;
color:#959595;
background-color: rgba(0,0,0,0);
	
}

.grad{
	width: 100%;
	height: 900px;
	position: absolute;
	z-index: 2;
	background: linear-gradient(rgba(0,0,0,0.4) ,rgba(0,0,0,0));
	background: -webkit-linear-gradient(rgba(0,0,0,0.4) ,rgba(0,0,0,0));
	overflow: hidden;
}


img {
	width: 100%;
}
.main {
	height: 900px;
	overflow: hidden;
	background-image:url(http://i66.fastpic.ru/big/2014/0812/69/e8d8569a009a7c9dfa9d361191950869.jpg) ;
	background-attachment: fixed;
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
}

.main img{
	margin-top:-50px;
	position: fixed;
}

.main-text {
	z-index: 3;
	position: absolute;
	color: #fff;
	background-color: rgba(0,0,0,0);
}
.main-text h1 {
	margin-top: 50px;
	line-height: normal;
}
.main-title{
	width:100%;
	}
.main-title h2{
	color: #fff;
	margin-top: 40px;
	font-weight: 100;
	}
.nav {
		margin-top: 90px;
}
.nav li{
		border: 1px solid rgba(255,255,255,0.4);
		padding:9px 13px;
		vertical-align: top;
		display: inline;
}
.nav #search {
	padding-right: 114px;
	background-image: url(http://i68.fastpic.ru/big/2014/0807/84/3f5ea169fa72f3ec196e66b37cdc4384.png);
	background-repeat: no-repeat;
	background-position: 134px center;
}
.pop-alb {
	max-width: 1600px;
	padding-left:5%;
	padding-right: 5%;
}
.alb {
}
/*---скоро в альбомах---*/

.soon {
	width: 100%;
	height:500px;
	overflow:hidden;
	
}
.soon-alb {
	height: 380px;
	z-index: 3;
	max-width: 1700px;
}
.soon-back {
	z-index: 1;
	opacity: 0.3;
  overflow:hidden;
  top:-360px;
}
.soon-back img {
	margin-top:-500px;
	min-width: 1500px;
}
.soon-title {
z-index: 2;
	
}
.soon .alb2 {
	z-index: 3;
	margin-right: 80px;
	margin-top:90px;
}

.soon-title  {
	margin-top: 40px;
	margin-bottom: 20px;
}

.view {
	color: #fff;
	border: 1px solid rgba(255,255,255,0.3);
	padding: 9px 13px 9px 13px;
	display:inline-block;
	font-size: 13px;
	margin-top:30px;
	background-color: rgba(0,0,0,0);
}
.viewall {
  border: 1px solid rgba(0,0,0,0.1);
  padding: 9px 13px 9px 13px;
  margin-top:-30px;
  margin-left:35px;
  display:inline-block;
  font-size: 13px;
}
/*---country---*/
.country {
	background: center center no-repeat url(http://i65.fastpic.ru/big/2014/0814/6f/5b776477568e4be870a3c50e4398646f.jpg);
}
/*--footer--*/

.feedback {
color:#fff;
width: 100%;
height:520px;
overflow:hidden;
background-color: #363636;
}
.feedback h2{
	margin-top: 23px;
}
.feedback li{
padding:3px;
vertical-align: top;
display: inline;
}
.fnav {
margin-top: -13px;

}
.fnav li {
line-height: 1.5;
margin-left: 10px;
}
form {

}
.feedback p {
	margin-top: 25px;
	margin-bottom: 1px;
}
.send { 
	background-color: #5a5a5b;
	border: 1px solid #5a5a5a;
	color:#FFF;
	padding: 9px 13px 9px 13px;
	margin-left: -1px;
	margin-top: 30px;
	font-size: inherit;
font-weight: 100;
}
.feedback textarea {
font-size: 13px;
color: #fff;
font-style: normal;
font-weight: 300;
	background-color: #363636;
	border: 1px solid rgba(255,255,255,0.1);
	width: 364px;
	height: 136px;
}
.feedback .form-field{
background-color: #363636;
border: 1px solid rgba(255,255,255,0.1);
width: 364px;
height: 35px;
font-size: 13px;
color: #fff;
}

/*--Social--*/

.social {
bottom: 90px;
}
.social p {
}
.list-footer-menu li,
.list-social-icons li {
  float: left;
}
.list-social-icons {
  float: right;
}

.list-social-icons li {
}
.list-social-icons li a {
margin-top: 5px;
  width: 40px;
  height: 40px;
  display: block;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.instagram,
.foursquare,
.facebook,
.vkontakte {
  background: url(http://i68.fastpic.ru/big/2014/0815/cc/438a258efc69591356d2f7f6dc6b8bcc.jpg);
}
.instagram {
  background-position: 0 0;
}
.foursquare {
  background-position: -44px 0;
}
.facebook {
  background-position: -88px 0;
}
.vkontakte {
  background-position: -132px 0;
}
  
/*---Города---*/

.city{
padding-top: 50px;
margin-bottom: 20px;
}
.alb1 figcaption{
	color: #FFF;
	font-size: 35px;
	font-weight: 300;
	position:absolute;
	bottom: 35px;
	left:35px;
	padding-right:35px;
	z-index: 3;
	background-color: rgba(0,0,0,0);
	}
/*----------Layout----------*/ 


.clearfix {
	clear: both;
}
.right {
	float: right;
}
.inline {
	display: inline-block;
}
.section {
	margin: 0 auto;
}
.row {
  margin-left: -0.5px;
  margin-right: -0.5px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10 {
	float: left;
	position: relative;
	overflow: hidden;
}
.col-xs-1 {
width: 10%;
}
.col-xs-2 {
width: 25%;
}
.col-xs-3 {
width: 30%;
}
.col-xs-4 {
width: 40%;
}
.col-xs-5 {
width: 50%;
max-width: 830px;

}
.col-xs-6 {
width: 60%;
}
.col-xs-7 {
width: 70%;
}
.col-xs-8 {
width: 80%;
}
.col-xs-9 {
width: 90%;
}
.col-xs-10 {
width: 100%;
}
/*-----------Offset-----------*/
.offset1 {
margin-left: 10%;
}
.offset2 {
margin-left: 20%;
}
.offset3 {
margin-left: 30%;
}
.offset4 {
margin-left: 40%;
}
.offset5 {
margin-left: 50%;
}
.offset6 {
margin-left: 60%;
}
.offset7 {
margin-left: 70%;
}
.offset8 {
margin-left: 80%;
}
.offset9 {
margin-left: 90%;
}
.offset10 {
margin-left: 100%;
}
.offset-right1 {
margin-right: 10%;
}




/*----------Typography----------*/  


h1 {
	font-family:inherit;
	font-size:60px;
	font-weight: 300;
	letter-spacing: -0.01em;
} 
h2 {
	font-family:inherit;
	font-size:35px;
	font-weight: 300;
	letter-spacing: -0.01em;
}
h3 {
	font-family:inherit;
	font-size:20px;
	font-weight: 300;
	letter-spacing: -0.01em;
}
@media screen and (min-width: 1280px) {
.col-xs-2 {
	width: 25%;
	}
.nav, .main-text {
	display: block;
	}
.nav-resp {
	display: none;
	}	

h1 {
	font-size: 60px;
	margin-top: 50px;
	}	
.grad {
	height: 600px;
	}
.col-xs-6 {
	width: 60%;
	}	
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {

.main {
	height: 600px;
	overflow: hidden;
	background-image: url(http://i66.fastpic.ru/big/2014/0812/69/e8d8569a009a7c9dfa9d361191950869.jpg);
	background-attachment: fixed;
	background-position: center bottom;
}

.grad {
	height: 600px;
	z-index: 2;
	}
.col-xs-6 {
	width: 50%;
	}
.col-xs-2 {
	width: 50%;	
	height: 400px;
	}	
.nav-resp h1 {
	margin-left:60px;
	font-size: 40px;
	margin-top: 6px;
	line-height: normal;
	color: #262626;
	background-color: rgba(0,0,0,0);
	z-index: 3;
		}	
.nav, .main-text {
	display: none;
	}
.main-title{
	width:100%;
	text-align: center;
	}
.main-title h2{
	color:#fff;
	margin-top: 240px;
	font-family: 'Roboto';
	font-weight: 100;
	font-size: 100px;
	}
.nav-resp {
    width: 100%;
	height: 70px;
	position: fixed;
	top: 0px;
	z-index: 5;
	color: #262626;
	background-color: rgba(230,230,230,1);
	overflow: hidden;
	}	
.nav-resp-icon{
	margin-top:15px;
	height:38px;
	background:url(http://i63.fastpic.ru/big/2014/0818/78/c1ee3a1bd666b515bde2f3091a649778.png) no-repeat;
	margin-left: 91.5%;
	
}	

/*---малый альбом 1024*/

.alb2 span {
	position:absolute;
	color:#FFF;
	font-size: 35px;
	bottom: 35px;
	left: 35px;
	padding-right:35px;
	z-index: 3;
	background-color: rgba(0,0,0,0);
	}
	
.alb2 .expand {
	left:33%;
	bottom:45%;
	font-size:35px;
	color: #fff;
	background-color: rgba(0,0,0,0);
	}
	
.alb2 .grad {
	width: 100%;
	height: 399px;
	margin-left: 1px;
	z-index: 2;
	position:absolute;
    background: linear-gradient(rgba(0,0,0,0) ,rgba(0,0,0,0.6));
    background: -webkit-linear-gradient(rgba(0,0,0,0) ,rgba(0,0,0,0.6));
	}
	
.alb2 img {
	height: 400px;
	padding-left: 1px;
	padding-bottom: 1px;
	}

/*---скоро в альбомах---*/

.soon-alb .col-s-2{
	width: 28%;
	height: 333px;
	float: left;
	overflow: hidden;
	display: block;
}

.soon {
	width: 100%;
	height:530px;
	overflow:hidden;
	
}
.soon-alb {
	height: 420px;
	z-index: 3;
	max-width: 1700px;
}
.soon-back {
	z-index: 1;
	opacity: 0.3;
  overflow:hidden;
  top:-390px;
}
.soon-back img {
	margin-top:-500px;
	min-width: 1500px;
}

.soon .alb2 {
	z-index: 3;
	margin-right: 40px;
	margin-top:90px;

}
.soon-alb .alb2 img {
	width: 500px;
	height: 333px;
	}
.soon-title  {
	margin-bottom: 20px;
}
.soon-title h2 {
}
.soon-alb span {
	font-size: 20px;
}	

/*---country-1024---*/

.country {
	background: center center no-repeat url(http://i65.fastpic.ru/big/2014/0814/6f/5b776477568e4be870a3c50e4398646f.jpg);
}



/*
.main-title h2 {
	font-family: "Roboto",  sans-serif;
	font-size:70px;
	font-weight: 100;
	letter-spacing: -0.01em;
}


	color: #262626;
}
.main-text {
    width: 100%;
	height: 100px;
	background-color: grey;
	position: fixed;
	top: 40px;
	z-index: 4;
}



.main-title {
	text-align: center;
	margin-top: 240px;
	width: 100%;
}

.nav-resp {
    width: 100%;
	height: 70px;
	background-color: gainsboro;
	position: fixed;
	top: 0px;
	z-index: 3;
}
*/
}

@media screen and (min-width: 640px) and (max-width: 1024px)   {

.main {
	height: 400px;
	overflow: hidden;
	background-image: url(http://i66.fastpic.ru/big/2014/0812/69/e8d8569a009a7c9dfa9d361191950869.jpg);
	background-attachment: fixed;
	background-position: center bottom;
}
.pop-alb {
	max-width: 1024px;
	padding: 0px;
}

.grad {
	height: 400px;
	}
.col-xs-6 {
	width: 80%;
	}
.col-xs-2{
	width: 50%;
	height: 400px;
	}
.col-xs-5{	
	height: 400px;
	margin-bottom: 1px;
	}	
.main .col-sx-4 {
	width: 100%;
}	
.nav-resp h1 {
	margin-left:5%;
	font-size: 35px;
	margin-top: 10px;
	line-height: normal;
	color: #262626;
	background-color: rgba(0,0,0,0);
	z-index: 3;
		}	
.nav, .main-text {
	display: none;
	}
.main-title{
	width:100%;
	text-align: center;
	}
.main-title h2{
	color:#fff;
	margin-top: 170px;
	font-family: 'Roboto';
	font-weight: 100;
	font-size: 80px;
	}
.nav-resp {
    width: 100%;
	height: 70px;
	position: fixed;
	top: 0px;
	z-index: 5;
	color: #262626;
	background-color: rgba(230,230,230,1);
	overflow: hidden;
	}
.nav-resp-icon{
	margin-top:15px;
	height:38px;
	background:url(http://i63.fastpic.ru/big/2014/0818/78/c1ee3a1bd666b515bde2f3091a649778.png) no-repeat;
	padding-right: 10%;
	float: right;
	
}
/*---малый альбом 640-----*/

.alb2 span {
	position:absolute;
	color:#FFF;
	font-size: 35px;
	bottom: 35px;
	left: 35px;
	padding-right:35px;
	z-index: 3;
	background-color: rgba(0,0,0,0);
	}
	
.alb2 .expand {
	left:33%;
	bottom:45%;
	font-size:35px;
	color: #fff;
	background-color: rgba(0,0,0,0);
	}
	
.alb2 .grad {
	width: 100%;
	height: 399px;
	margin-left: 1px;
	z-index: 2;
	position:absolute;
    background: linear-gradient(rgba(0,0,0,0) ,rgba(0,0,0,0.6));
    background: -webkit-linear-gradient(rgba(0,0,0,0) ,rgba(0,0,0,0.6));
	}
	
.alb2 img {
	height: 400px;
	padding-left: 1px;
	padding-bottom: 1px;
	}
.alb h2 {
	margin-left: 5%;
}	
/*---скоро в альбомах---*/

.soon-alb .col-s-2{
	width: 28%;
	height: 240px;
	float: left;
	overflow: hidden;
	display: block;
}

.soon {
	width: 100%;
	height:465px;
	overflow:hidden;
	
}
.soon-alb {
	height: 350px;
	z-index: 3;
	max-width: 1700px;
	margin-left: 5%;
}
.soon-back {
	z-index: 1;
	opacity: 0.3;
  overflow:hidden;
  top:-360px;
}
.soon-back img {
	margin-top:-500px;
	min-width: 1500px;
}

.soon .alb2 {
	z-index: 3;
	margin-right: 30px;
	margin-top:50px;

}
.soon-alb .alb2 img {
	width: 500px;
	height: 333px;
	margin-left: -10%;
	}
.soon-title h2 {
	margin-bottom: 20px;
	margin-left: 5%;
}
.soon-alb span {
	font-size: 20px;
	bottom: 20px;
	left: 20px;
}	
/*---города и страны---*/

.col-s-1 {
	width:30%;
}
.country-list-rus {
	margin-left: 5%;
}
.country {
	background: center center no-repeat url(http://i65.fastpic.ru/big/2014/0814/6f/5b776477568e4be870a3c50e4398646f.jpg);
}
/*---footer---*/
.feedback {
	padding-right:5%;
}
.mail {
	margin-left: 5%;
	margin-right: 5%;
}
.feedback .col-xs-4 {
	width: 50%;
}
}




@media screen and (min-width: 380px) and (max-width: 640px) {

.main {
	height: 400px;
	overflow: hidden;
	background-image: url(http://i66.fastpic.ru/big/2014/0812/69/e8d8569a009a7c9dfa9d361191950869.jpg);
	background-attachment: fixed;
	background-position: center bottom;
}
.pop-alb {
	max-width: 1024px;
	padding: 0px;
}

.grad {
	height: 400px;
	}
.col-xs-6 {
	width: 80%;
	}
.col-xs-2{
	width: 50%;
	height: 400px;
	}
.col-xs-5{	
	height: 400px;
	margin-bottom: 1px;
	}	
.main .col-sx-4 {
	width: 100%;
}	
.nav-resp h1 {
	margin-left:5%;
	font-size: 35px;
	margin-top: 10px;
	line-height: normal;
	color: #262626;
	background-color: rgba(0,0,0,0);
	z-index: 3;
		}	
.nav, .main-text {
	display: none;
	}
.main-title{
	width:100%;
	text-align: center;
	}
.main-title h2{
	color:#fff;
	margin-top: 170px;
	font-family: 'Roboto';
	font-weight: 100;
	font-size: 50px;
	}
.nav-resp {
    width: 100%;
	height: 70px;
	position: fixed;
	top: 0px;
	z-index: 5;
	color: #262626;
	background-color: rgba(230,230,230,1);
	overflow: hidden;
	}
.nav-resp-icon{
	margin-top:15px;
	height:38px;
	background:url(http://i63.fastpic.ru/big/2014/0818/78/c1ee3a1bd666b515bde2f3091a649778.png) no-repeat;
	padding-right: 10%;
	float: right;
	
}

/*---большой альбом 380-----*/

/*---малый альбом 380-----*/

.alb2 span, .alb1 span {
	position:absolute;
	color:#FFF;
	font-size: 25px;
	bottom: 15px;
	left: 15px;
	padding-right:20px;
	z-index: 3;
	background-color: rgba(0,0,0,0);
	}
	
.alb2 .expand {
	left:33%;
	bottom:45%;
	font-size:35px;
	color: #fff;
	background-color: rgba(0,0,0,0);
	}
	
.alb2 .grad {
	width: 100%;
	height: 399px;
	margin-left: 1px;
	z-index: 2;
	position:absolute;
    background: linear-gradient(rgba(0,0,0,0) ,rgba(0,0,0,0.6));
    background: -webkit-linear-gradient(rgba(0,0,0,0) ,rgba(0,0,0,0.6));
	}
	
.alb2 img {
	height: 400px;
	padding-left: 1px;
	padding-bottom: 1px;
	}
.alb h2 {
	margin-left: 5%;
	font-size: 25px;
}	
/*---скоро в альбомах 380---*/

.soon-alb .col-s-2{
	width: 28%;
	height: 240px;
	float: left;
	overflow: hidden;
	display: block;
}

.soon {
	width: 100%;
	height:465px;
	overflow:hidden;
	
}
.soon-alb {
	height: 350px;
	z-index: 3;
	max-width: 1700px;
	margin-left: 5%;
}
.soon-back {
	z-index: 1;
	opacity: 0.3;
  overflow:hidden;
  top:-360px;
}
.soon-back img {
	margin-top:-500px;
	min-width: 1500px;
}

.soon .alb2 {
	z-index: 3;
	margin-right: 30px;
	margin-top:50px;

}
.soon-alb .alb2 img {
	width: 500px;
	height: 333px;
	margin-left: -10%;
	}
.soon-title h2 {
	margin-bottom: 20px;
	margin-left: 5%;
}
.soon-alb span {
	font-size: 20px;
	bottom: 20px;
	left: 20px;
}	
/*---города и страны---*/

.col-s-1 {
	width:30%;
}
.country-list-rus {
	margin-left: 5%;
}
.country {
	background: center center no-repeat url(http://i65.fastpic.ru/big/2014/0814/6f/5b776477568e4be870a3c50e4398646f.jpg);
}

/*---footer---*/

.feedback {
	padding-right:5%;
}
.mail {
	margin-left: 5%;
	margin-right: 5%;
}
.feedback .col-xs-4 {
	width: 90%;
}
.social .right{
float: left;
	
}
}







